certifi==2018.4.16
chardet==3.0.4
Flask==0.10.1
Flask-Bootstrap==3.3.4.1
Flask-Session==0.2
Flask-WTF==0.11
gunicorn==19.9.0
httplib2==0.11.3
idna==2.7
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
praw==2.1.21
PySocks==1.6.8
pytz==2018.5
requests==2.19.1
six==1.11.0
twilio==4.4.0
update-checker==0.11
urllib3==1.23
Werkzeug==0.10.4
WTForms==2.0.2
